h1{
    font-family: "Josefin Sans", sans-serif;
    font-size: xxx-large;
    align-content: center;
    text-align: center;
    color: firebrick;
}
h2 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    background-color: bisque;
    color: indigo;
}
h3 {
    font-family: "Poppins", sans-serif;
    font-weight: medium;
    background-color: antiquewhite;
    color: #3d4143;
}

h4 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: #4B0082FF;
}

h5 {
    font-family: "Poppins", sans-serif;
    font-weight: medium;
    font-style: italic;
    color: #3d4143;
}
h6 {
    font-family: "Poppins", sans-serif;
    font-weight: medium;
    font-style: italic;
    color: #3d4143;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: medium;
    color: #252525;
}

li {
    font-family: "Poppins", sans-serif;
    font-weight: medium;
    color: #252525;
}
a[href] {
    color: firebrick;
}
table {
    margin-left: 50px;
    margin-right: 50px;
}

html {
    background-color: #fffdfb;
}


.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.josefin-sans-medium {
                   font-family: "Josefin Sans", sans-serif;
                   font-optical-sizing: auto;
                   font-weight: 400;
                   font-style: normal;
               }