.chivo-mono-regular {
    font-family: "Chivo Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.afacad-regular {
    font-family: "Afacad", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html {
    background-color: #e9c47a;

}

/* this is where the logo and the menu toolbar will be located*/
.top-menu-header-bar {
    z-index: 10;
    background-color: #ca965c;
    top:0px;
    left:0px;
    width: 100%;
    height: 80px;
    margin: 0px;
    position: fixed;
}

/* this is the container for the logo*/
.logo {
    z-index: 100;
    background-color: #CA965C;
    margin-left: 6%;
    margin-top: 10px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: inline-block;
}

/* logo image*/
.logo-img {
    z-index: 100;
    height: 100%;
    border-radius: 50%;
}

/* div for the menu links, must be offset to make room for logo*/
.top-menu-content {
    display: inline-flex;
    z-index: 10;
    position: fixed;
    right: 50px;
    margin-left: 30px;
    padding-top: 0px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* a class of a describing buttons for top menu*/
.button {
    z-index: 10;
    background-color: #CA965C;
    color: #F4DFBA;
    height: 50px;
    margin-top: 0;
    flex: 1;
    text-align: center;
    padding-top: 20px;
    padding-left: 2rem;
    padding-right: 3rem;
    padding-bottom: 10px;
    font-family: "Chivo Mono", monospace;
    text-transform: lowercase;
    font-weight: 650;
    font-size: xx-large;
}

/* button hover color*/
.button:hover {
    background-color: #EEC373;
    color: #876445;

}

/* take the underline off menu button links */
a.button {
    text-decoration: none;
}

/* active page is highlighted in top menu buttons */
.active {
    background-color: #EEC373;
    color: #876445;
}

.footer {
    background-color: #876445;
    width: 100%;
    height: 30px;
    position: relative;
    z-index: 10;
    bottom: 0;
    left: 0;
    color: #F4DFBA;
    font-family: "Afacad", sans-serif;
    font-size: medium;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 20px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}


.whole-page {
    position: relative;
    top: 100px;
    margin: 0px 50px 150px 50px;
    background-color: #f4dfba;
    border-radius: 30px;
    padding: 20px 0px;
}

/* styling for the bottom links */
.large-links {
    text-align: center;
    font-size: x-large;
    font-family: "Afacad", sans-serif;
    font-weight: 600;
}
.bottom-links {
    display:flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 50px;
}

/* main title (Hafsa R.)*/
h1 {
    text-align: center;
    color: #836648;
    font-size: 4rem;
    font-family: "Afacad", sans-serif;
    margin-bottom: 5px;
}

h2 {
    text-transform: uppercase;
    color: #eca400;
    text-align: center;
    font-family: "Afacad", sans-serif;
}

/* hr styling */
.long-rule {
    border: 2px solid #836648;
}

/* hr styling */
.mid {
    width: 50%;
    border: 2px solid #f2b835;
}

.shortened {
    width: 50%;
    border: 1px solid #ca965c;
}

/* styling for top caption bar */
.top-rule {
    width: 50%;
    border: 2px solid #e15827;
}

a {
    color: #836648;
}

.highlights {
    font-family: "Afacad", sans-serif;
    font-weight: lighter;
}

.grid-container {
    margin: 3rem 3rem 12rem 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1.25rem;
    height: 100vh
}

.grid-element {
    background-color: whitesmoke;
    /*height: 20rem;*/
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.one {
    grid-column: span 2;
    text-align: right;
    font-size: 2rem;
    padding: 0rem 2rem;
}

.two {
    grid-row: span 2;
    text-align: left;
    font-size: 1.9rem;
    padding: 0rem 2rem;
}

.three {
    text-align: right;
    padding: 0rem 2rem;
    font-size: 1.75rem;
}
.four {
    grid-row: span 2;
}
.five {
    grid-row: span 2;
    text-align: right;
    padding: 2rem 2rem;
    font-size: 1.7rem;
}

.six {
    text-align: left;
    padding: 2rem 2rem;
    font-size: 1.6rem;
}
.seven {
    grid-column: span 2;
    text-align: left;
    padding: 2rem 2rem;
    font-size: 1.9rem;
}
.center {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 20px;
}